
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
<div style="width: 800px" class="container" id="container"></div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://fb.me/react-0.13.3.js"></script>
<script src="@Url.Content("~/Scripts/app.jsx")"></script>
</body>
</html>

